<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
 	<typeAliases> 
		
		<!-- <typeAlias type="com.sweetk.kcti.commentary.vo.CommentaryVo" 	alias="CommentaryVo"/> -->
		<!-- <typeAlias type="com.sweetk.kcti.common.vo.CommonVo" 			alias="CommonVo"/>
		<typeAlias type="com.sweetk.kcti.login.vo.LoginVo" 				alias="LoginVo"/>
		<typeAlias type="com.sweetk.kcti.board.vo.BoardVo" 				alias="BoardVo"/>
		<typeAlias type="com.sweetk.kcti.stats.vo.StatsVo" 				alias="StatsVo"/>
		<typeAlias type="com.sweetk.kcti.excel.vo.ExcelVo" 				alias="ExcelVo"/> --> 
		<typeAlias type="com.sweetk.kcti.survey.vo.SurveyVo" 				alias="SurveyVo"/>

	</typeAliases>
	
</configuration>