<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>Sustinvest</title>
<meta name="description" content="">
<meta name="keywords" content="">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="asset/css/layout.css">
<script type="text/javascript" src="asset/js/libs/jquery.js"></script>
<script type="text/javascript" src="asset/js/common.js"></script>
</head>

<body>
<div id="wrap">
	<!-- lnb -->
	<div id="lnb">
		<div class="account">
			<span class="ico"></span><span class="usr">동양자산운용 님,<br />반갑습니다.</span>
		</div>
		<!-- nav -->
		<nav>
			<ul>
			<li>
				<a href="#"><span class="main"></span>Main</a>
			</li>
			<li>
				<a href="#" class="active"><span class="company"></span>Company</a>
			</li>
			<li>
				<a href="#"><span class="comparative"></span>Comparative</a>
			</li>
			<li>
				<a href="#"><span class="portfolio"></span>Portfolio</a>
				<ul>
				<li><a href="#">- Portfolio</a></li>
				<li><a href="#">- Sector</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><span class="my"></span>My</a>
				<ul>
				<li><a href="#">- Universe</a></li>
				<li><a href="#">- Portfolio</a></li>
				<li><a href="#">- Weight Matrix</a></li>
				</ul>
			</li>
			<li>
				<a href="#"><span class="reports"></span>Reports</a>
			</li>
			</ul>
			<a href="#" class="blog">BLOG 바로가기<span></span></a>
		</nav>
		<!-- //nav -->
	</div>
	<!-- //lnb -->
	<!-- container -->
	<div id="container">
		<h1><a href="#"><img src="asset/images/header_logo.png" alt="Sustinvest" /></a></h1>
		<!-- search -->
		<div class="searchBox">
			<div class="searchOption">
				<a href="#" class="defaultTxt">년도</a>
				<ul>
				<li><a href="#">2000</a></li>
				<li><a href="#">2001</a></li>
				<li><a href="#">2002</a></li>
				<li><a href="#">2003</a></li>
				<li><a href="#">2004</a></li>
				<li><a href="#">2005</a></li>
				<li><a href="#">2006</a></li>
				<li><a href="#">2007</a></li>
				</ul>
			</div>
			<div class="searchOption">
				<a href="#" class="defaultTxt">섹터</a>
				<ul>
				<li><a href="#">섹터1</a></li>
				<li><a href="#">섹터2</a></li>
				<li><a href="#">섹터3</a></li>
				<li><a href="#">섹터4</a></li>
				</ul>
			</div>
			<div class="searchOption">
				<a href="#" class="defaultTxt">종목</a>
				<ul>
				<li><a href="#">종목1</a></li>
				<li><a href="#">종목2</a></li>
				<li><a href="#">종목3</a></li>
				<li><a href="#">종목4</a></li>
				</ul>
			</div>
			<div class="searchKeyword">
				<label for="searchKeyword" class="i_label">검색어 입력</label>
				<input type="text" id="searchKeyword" class="input_text" />
				<a href="#" class="submit"><img src="asset/images/btn_search.png" alt="검색" /></a>
			</div>
			<div class="btn">
				<a href="#">조건으로 검색</a>
			</div>
		</div>
		<!-- //search -->

		<div class="subTitle">
			<h2>[A002960] 한국쉘석유</h2>
			<div class="btn">
				<a href="#">평가확인</a>
			</div>
		</div>

		<div id="content">
			<section>
				<div class="fLeft" style="width:33%">
					<h3>ESG 등급</h3>
					<article>
						<table cellspacing="0" height="120">
						<tbody>
						<tr>
							<th scope="row" class="noline">종목명</th>
							<td class="noline">한국쉘석유</td>
						</tr>
						<tr>
							<th scope="row">섹터</th>
							<td>에너지</td>
						</tr>
						<tr>
							<th scope="row">등급</th>
							<td>B</td>
						</tr>
						</tbody>
						</table>
					</article>
				</div>
				<div class="fRight" style="width:65%">
					<h3>ESG Grade</h3>
					<article>
						<table cellspacing="0" height="120">
						<thead>
						<tr>
							<th scope="col" class="first"></th>
							<th scope="col">종목점수(점)</th>
							<th scope="col">섹터평균(점)</th>
							<th scope="col">전체평균(점)</th>
							<th scope="col">최대값(점)</th>
							<th scope="col">섹터순위</th>
							<th scope="col">전체순위</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th scope="row">ESG 종합</th>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>1/4</td>
							<td>7</td>
						</tr>
						<tr>
							<th scope="row">환경 (E)</th>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>1/4</td>
							<td>7</td>
						</tr>
						<tr>
							<th scope="row">사회 (S)</th>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>1/4</td>
							<td>7</td>
						</tr>
						<tr>
							<th scope="row">지배구조 (G)</th>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>99.44</td>
							<td>1/4</td>
							<td>7</td>
						</tr>
						</tbody>
						</table>
					</article>
				</div>
			</section>

			<section>
				<h3>ESG Results</h3>
				<article>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
					<div class="graph fLeft" style="margin:10px 2%"><img src="asset/images/sample.png" alt="" /></div>
				</article>
			</section>

			<section>
				<h3>ESG Investment Point <em>VS</em> Risk Point</h3>
				<article>
					<table cellspacing="0" height="180">
					<colgroup><col width="10%" /><col width="30%" /><col width="30%" /><col /></colgroup>
					<thead>
					<tr>
						<th scope="col" class="first"></th>
						<th scope="col">Investment Point</th>
						<th scope="col">Risk Point</th>
						<th scope="col">총평</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">E</th>
						<td>-</td>
						<td>-</td>
						<td rowspan="4">-</td>
					</tr>
					<tr>
						<th scope="row">S</th>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<th scope="row">G</th>
						<td>-</td>
						<td>-</td>
					</tr>
					<tr>
						<th scope="row">Controversy</th>
						<td>-</td>
						<td>-</td>
					</tr>
					</tbody>
					</table>
				</article>
			</section>

			<!-- excel btn -->
			<div class="rightBtn">
				<a href="#"><img src="asset/images/btn_excel.png" alt="Excel" /></a>
			</div>
			<!-- //excel btn -->
		</div>
	</div>
	<!-- //container -->
</div>
</body>
</html>